@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  color: #333;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 3rem;
}

p {
  margin: 0 0 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;

  &:hover {
    color: #4a3fb3;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.required {
  color: #ea3d3d;
}

.form {
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  &__label {
    font-size: 1.58rem;
    font-weight: 700;
    margin-bottom: 1rem;

    &.is--required {
      &::after {
        content: "*";
        vertical-align: middle;
        line-height: 1;
        color: #ea3d3d;
      }
    }
  }
  &__input,
  &__textarea {
    padding: 2rem;
    border-radius: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:focus {
      outline: none;
    }
  }
  &__input {
    height: 4rem;
  }
  &__textarea {
    min-height: 20rem;
    resize: vertical;
  }
}

.renderFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
